<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot 2 B3,W3C b - Distributed Tracing Demo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Spring Boot 2 B3,W3C b - Distributed Tracing Demo</h1>
    <ul>
        <li><a href="/direct" class="button">自身に直接アクセス</a></li>
        <li><a href="/call-sb2-b3" class="button">Spring Boot 2.x (B3対応)のAPIコール</a></li>
        <li><a href="/call-sb2-b3-w3c" class="button">Spring Boot 2.x (B3, W3C対応)のAPIコール</a></li>
        <li><a href="/call-sb3" class="button">Spring Boot 3.xのAPIコール</a></li>
    </ul>
</div>
</body>
</html>
